@import url('https://elixir-ui.netlify.app/Components/elixir.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url('./reset.css');
@import url('./variables.css');

.container {
    max-width: 1281px;
    margin: 0 auto;
}

.App {
    min-height: 100vh;
    background-color: var(--light-theme-bg-color);
    color: var(--light-theme-text-color);
}

.App.light {
    background-color: var(--light-theme-bg-color);
    color: var(--light-theme-text-color);
}

.App.dark {
    background-color: var(--dark-theme-bg-color);
    color: var(--dark-theme-text-color);
}

.border-bottom-primary {
    border-bottom: 2px solid var(--primary-color);
}