.explore-main .container, .watch-later-main .container {
    gap: var(--space-3);
    padding: var(--space-3) var(--space-1)
}

.category-list {
   gap: var(--space-1);
}

.category-list .badge {
    position: relative;
}

.videos-list-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: var(--space-3) var(--space-2);
}

.App.dark .video-card:hover {
    background-color: var(--dark-theme-navbar-bg-color);
}

.App.light .video-card:hover {
    background-color: var(--light-theme-navbar-bg-color);
}

.video-card {
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
    background-color: inherit;
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.video-card.disabled-card {
    pointer-events: none;
}

.card-header, .video-img {
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
}

.video-card .card-body {
    justify-content: space-between;
    background-color: inherit;
    color: inherit;
    width: 100%;
    gap: var(--space-1);
    flex: 1.5;
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
    position: relative;
}

.video-card .video-title {
    flex: 1;
}

.video-options-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    z-index: 2;
    border: 1px solid var(--primary-color);
}

.video-options-list:last-child {
    border-bottom: none;
}

.App.dark .video-options-list .btn {
    background-color: var(--dark-theme-navbar-bg-color);
}

.App.dark .video-options-list .btn.btn-text-icon:hover {
    background-color: #181818;
}

.App.light .video-options-list .btn.btn-text-icon:hover {
    background-color: #F2F2F2;
}

.App.light .video-options-list .btn {
    border-radius: 0;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--light-theme-navbar-bg-color);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    gap: var(--space-0-25);
}

.video-options-list .btn {
    width: 100%;
    border: none;
    color: inherit;
}

.video-options-icon:hover {
    background-color: var(--primary-bg-color);
}

svg.video-option-icon {
    font-size: 1rem;
}

@media screen and (min-width: 480px) {
    .videos-list-container {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

@media screen and (min-width: 768px) {
    .explore-main .container,
    .watch-later-main .container {
        padding: var(--space-3);
    }
}

@media screen and (min-width: 2400px) {
    .videos-list-container {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}